/* Variables */
$color-bg: #EDF6F9;
$color-highlight: #E29578;
$color-pink: #FFDDD2;
$color-darkblue: #006D77;

$min_width: 320px;
$max_width: 1200px;
$min_font: 36px;
$max_font: 72px;

/* Functions */
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}
  
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
$u1: unit($min-vw);
$u2: unit($max-vw);
$u3: unit($min-font-size);
$u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media screen and (min-width: $max-vw) {
            font-size: $max-font-size;
            }
        }
    }
}

/* Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}

.c-all {
    grid-column: 1 / span 12;
}

.c12 {
    grid-column: 2 / 12;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    line-height: 4em;
    background-color: $color-bg;
}

.name {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    color: $color-darkblue;
    margin-left: 4vw;
}

/* Navigation Bar */
.nav-bar {
    line-height: 4em;
    margin-left: auto;
    margin-right: 4vw;
}

.nav-links {
    font-size: 20px;
    display: inline;
    text-decoration: none;
    color: black;
    margin-left: 10vw;
    //@include fluid-type(320px, 1440px, 18px, 24px);
}

a.hover {
    border-bottom: 3px dotted transparent;
    opacity: 1;
    transition: border-color linear 0.2s,
                opacity linear 0.2s;

    &:hover {
        border-bottom-color: $color-highlight;
        opacity: 0.6;
        transition: border-color linear 0.2s,
                    opacity linear 0.2s;
    }
}

a.active {
    border-bottom: 3px dotted $color-highlight;
}

/* Footer */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-color: $color-bg;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

//// Home Page ////
/* Heading */
.intro {
    padding: 30px;
    background-color: $color-bg;
    text-align: center;
}

.intro-title {
    font-weight: normal;
    font-style: italic;
    @include fluid-type(320px, 1440px, 36px, 50px);
}

.intro-details {
    font-weight: normal;
    line-height: 1.5em;
    margin: 10px 0 10px 0;
    @include fluid-type(320px, 1440px, 18px, 32px);
}

.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, rgba(0, 109, 119, 0.1) 50%);
    display: inline;
}

/* Portfolio */
.portfolio {
    display: grid;
    grid-column-gap: 5vw;
    grid-template-columns: auto;
    grid-row-gap: 5vw;
    grid-template-rows: auto auto;
    margin: 3em;
}

.project {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #FFF0EB;
    border-radius: 10px;
    box-shadow: 5px;
    transition: all .2s ease-in-out;
}

.project:hover { 
    transform: scale(1.02); 
}

.project-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.project-content h2 {
    font-weight: normal;
}

//// About Page ////
/* About */
.about {
    display: flex;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 100%;
}

.skills {
    background-color: $color-pink;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills > h3 {
    margin-bottom: 20px;
    font-weight: none;
    @include fluid-type(320px, 1440px, 24px, 32px);
}

.portrait {
    width: 15em;
    margin: 0 auto;
}

.skills-content {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skill-item {
    width: 100%;
    padding: 10px;
}

.skill-item > h4 {
    font-weight: none;
    text-transform: uppercase;
    @include fluid-type(320px, 1440px, 14px, 24px);
}

//// Responsive ////
.content-web {
    display: none;
}

.content-mobile {
    display: inline;
}

@media only screen and (min-width: 550px) {
    .content-web {
        display: inline;
    }

    .content-mobile {
        display: none;
    }

    .grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    /* Header */
    header {
        justify-content: space-between;
    }

    .sjw-logo {
        margin-right: 1.5em;
        height: 4em;
    }

    .nav-bar {
        margin-left: auto;
        line-height: 4em;
    }

    .nav-links {
        margin-left: 3vw;
    }

    /* About */
    // .about {
    //     //height: 50vh;
    // }
    
    .skill-item {
        width: 30%;
    }

    /* Portfolio */
    .portfolio {
        grid-template-columns: auto auto;
    }

    ////About Page////
    .about {
        grid-template-columns: 50% 50%;
    }

    .about-paragraphs {
        padding: 20px;
    }

    /* Footer */
    .social-media {
        width: 15%;
    }
}